<header id="header"> 
        <a href="/" class="nav-logo"><img src="https://main.red/i/41f743c3-ae2b-4716-8474-174c31acc347/p.jpg"></a> 
        <ul class="nav-links"> 
            <li><a href="/">Home</a></li> 
            <li><a href="/signIn">Login</a></li> 
            <li><a href="/signUp">Registration</a></li> 
        </ul> 
</header>