<form action="/api/signUp" method="POST">

    <h1>Sign up</h1>
    
    <input id="ava" type="file" accept="image/png, image/jpeg">


    <input id="l" type="text" placeholder="Login" required>
    
    <input id="e" pattern="[A-Z][0-9]*+@+[A-Z]*+\.+[A-Z]*" size="30" type="email" placeholder="Email" required>
    
    <input id="p1" minlength="8" type="password" placeholder="Enter_Password" required>

    <input id="p2" type="password" placeholder="Confirm_Password" required>

    
    <input id="b" type="date">
    <div id="bts">
        <input type="submit" id="pon" value="sign up">
        <input type="reset" id="cl"  value="clear form">
    </div>
    
</form>
<script src="js.js"></script>