<form action="" method="get">
        <h1>Sign in</h1>
    
        <input id="l" type="text" placeholder="Login" required>
 
        <input id="p1" type="password" placeholder="Password" required>

        
        <input type="submit" id="pon" value="sign in">
       
       
</form>